body {
    background-color: #32F3F5;
}

* {
    border-width: 1px;
    margin: 0;
    padding: 0;
}

main {
    width: 480px;
    margin: auto;
    text-align: justify;
}

h1{
    text-align: center;
}

h2{
    font-variant: small-caps;
}