header{
background: blue;
padding: 10px;
color:white;
}

footer{
background: blue;
padding: 10px;
color:white;
clear: left;
}

footer > p{
    text-align: center;
}

h2{
    margin: 10px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
}

#p1{
    background-color: #DBA6A6;
    float:left;
    width:600px;
}
  #p2{
    background-color: coral;
    width: 300px;
    float: left;
    margin:0px;
}   

#contenedor{
     width:900px; 
}

main{
    width:900px;
}

div>p{
    margin: 15px;
}