/*Selector universal */
*{
    font-family: Arial;
}

.subtitulo{
    font-family: Georgia;
    color: blue;
}

#intro{
    font-weight: bold;
}



div > p{
    color:blue;
}

article{
    border:1px solid green;
    margin:30px 20px 10px 5px;
    padding: 50px;
}