*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 100%;
    background-color: red;
}

@media print{
    .contenedor{
        color: blue;
        font-size: 20px;
        width: 75%;
    }
}

@media screen and (min-width:600px){
    .contenedor{
        background-color: gray;
    }
}

@media screen and (max-width:600px){
    .contenedor{
        background-color: yellow;
    }
}